<?xml version="1.0"?>
<launch>
    <param name="use_sim_time"  value="true"/>
    <include file="$(find mir_gazebo)/launch/mir_maze_world.launch"> </include>
    <node pkg="rosservice" type="rosservice" name="global_loc" args="call --wait /gazebo/unpause_physics" />


    <!-- search: start the search task -->
    <node name="search" pkg="mrp_exploration_map_mir_robot" type="search" output="screen" />

   	<node type="rviz" name="rviz" pkg="rviz" args="-d $(find mir_navigation)/rviz/navigation.rviz" />

    <include file="$(find mrp_exploration_map_mir_robot)/launch/include/gmapping.launch" />

    <include file="$(find mir_navigation)/launch/move_base.xml">
    		<arg name="with_virtual_walls" value="false" />
    </include>

</launch>
